#profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

#user_profile {
  border: thin solid black;
  display: flex;
}

#posts {
  text-decoration: none;
}

button {
  border-radius: 5px;
  border: none;
}
