#profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

#user_profile {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
}

#posts {
  text-decoration: none;
  margin-top: 20px;
}

button {
  border-radius: 5px;
  border: none;
}

.edit {
  background-color: steelblue;
}

.add {
  background-color: seagreen;
}

.delete {
  background-color: red;
}

.container {
  margin: 0 auto;
  width: 50%;
}
