#profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

#user_profile {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
}

#posts {
  text-decoration: none;
  margin-top: 20px;
}

button {
  border-radius: 5px;
  border: none;
}

.edit {
  background-color: steelblue;
}

.add {
  background-color: seagreen;
}

.delete {
  background-color: red;
}

body {
  margin: 0 auto;
  width: 70%;
}

#users_list {
  border: 10px solid black;
}

.list-group-item {
  background-color: coral;
  border-radius: 5px;
  font-size: 15px;
  padding: 0rem 0.5rem;
}
