{% extends 'index.html' %}
<div class="container">
  {% block title %}
  <h1>Add a user:</h1>
  {% endblock %} {% block content %}
  <form method="POST">
    <input
      class="form-control"
      type="text"
      name="first_name"
      placeholder="Enter first name"
    /><br />
    <input
      class="form-control"
      type="text"
      name="last_name"
      placeholder="Enter last name"
    /><br />
    <input
      class="form-control"
      type="text"
      name="url"
      placeholder="Enter image url"
    /><br />
    <button class="add">Add!</button>
  </form>
</div>
{% endblock %}
