{% extends 'index.html' %}
<div class="container">
  {% block title %}
  <h2>Edit Post</h2>
  {% endblock %} {% block content %}
  <form method="POST" action="/posts/{{post.id}}/edit">
    <input type="text" name="title" placeholder="Post Title" /><br />
    <input type="text" name="post_text" placeholder="Post Body" /><br />
    <button class="add" type="submit">Edit</button>
    <a href="/users/{{post.user.id}}">Cancel</a>
    <div class="display_tags">
      <fieldset>
        <legend>Select Tags</legend>
        {% for tag in tags %}
        <div>
          <input
            type="checkbox"
            id="tag_{{tag.id}}"
            name="tags"
            value="{{tag.id}}"
            {%
            if
            tag
            in
            post.tags
            %}checked{%
            endif
            %}
          />
          <label for="tag_{{tag.id}}">{{tag.name}}</label>
        </div>
        {% endfor %}
      </fieldset>
    </div>
  </form>
</div>
{% endblock %}
