{% extends 'index.html' %}
<div class="container">
  {% block title %}
  <h2>Post for {{user.full_name}}</h2>
  {% endblock %} {% block content %}
  <form id="post_form" method="POST">
    <input name="title" placeholder="Enter Post Title" />
    <br />
    <textarea name="post_text" placeholder="Enter text"></textarea>
    <br />
    <fieldset>
      <legend>Select Tags</legend>
      {% for tag in tags %}
      <div>
        <input
          type="checkbox"
          id="tag_{{tag.id}}"
          name="tags"
          value="{{tag.id}}"
        />
        <label for="tag_{{tag.id}}">{{tag.name}}</label>
      </div>
      {% endfor %}
    </fieldset>
    <a href="/users/{{user.id}}">Cancel</a>
    <button class="add" type="submit">Add</button>
  </form>
</div>
{% endblock %}
