{% extends 'index.html' %}
<div class="container">
  {% block title %}Post: {{post.id}}{% endblock %} {% block content %}
  <h3>{{post.title}}</h3>
  <hr />
  <p>{{post.content}}</p>
  <p id="footer"><em>By {{post.user.full_name}}</em></p>
  <div>
    Tags:{% for tag in post.tags %}
    <div class="tags">{{tag.name}}</div>
    {% endfor %}
  </div>
  <form>
    <button class="edit" formaction="/posts/{{post.id}}/edit">Edit</button>
    <button
      class="delete"
      formmethod="POST"
      formaction="/posts/{{post.id}}/delete"
    >
      Delete
    </button>
  </form>
</div>
{% endblock %}
