{% extends 'index.html' %} {% block content %}
<div id="user_profile">
  <img id="profile_pic" src="{{user.img_url}}" />
  <div id="profile_info">
    <h3>{{user.full_name}}</h3>
    <form>
      <button class="edit" formaction="/users/{{user.id}}/edit">Edit</button>
      <button
        class="delete"
        formmethod="POST"
        formaction="/users/{{user.id}}/delete"
      >
        Delete
      </button>
    </form>
    <div id="posts">
      <h4>Post</h4>
      <ul>
        {% for post in post %}
        <li>
          <a href="/posts/{{post.id}}">{{post.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <form action="/users/{{user.id}}/posts/new">
        <button class="add">Add Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
